.navCart {
  margin-top: 25px;
  text-wrap: nowrap;
  font-size: 20px;
  font-weight: bold;
  margin-right: 200px;
}

.navCartIcon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
}

.cartQuantity {
  display: inline-block;
  background-color: black;
  color: white;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  border-radius: 50%;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 0;
  border: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 310px;
  width: 100%;
  font-size: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.navlink {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-family: serif;
  font-size: 20px;
  margin-bottom: 20px;
}
